/*
    ===== CONTACT SECTION =====
*/

/*
    ===== RESET STYLE =====
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ===== END RESET =====
*/


body {
    background-color: #2c2c2c;
    color: #e0e0e0;
    font-family: sans-serif;
}

#form h2 {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 50px 0;
    font-size: 1.5rem;
    color: #157c43
}

.map {
    width: 100%;
    height: 450px;
}

#map {
    height: 450px;
}

.address {
    text-align: center;
    margin: 30px;
}

#form {
    max-width: 600px;
    margin: 0 auto;
}

/* Contact form */

.radios {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.checkboxes {
    margin: 15px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 80%;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.contact-form input, .contact-form textarea {
    margin: 10px;
    padding: 10px;
}

.contact-form textarea {
    font-family: sans-serif;
    resize: none;
    border: none;
    border-radius: 5px;
}

.contact-form .contact-button{
    background-color: #157c43;
    color: #e0e0e0;
    border-radius: 5px;
    border: none;
    margin-top: 30px;;
}

.contact-form .contact-button:hover {
    box-shadow: 2px 2px 10px #111111;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

/* Order form */

#form2 {
    display: none;
}

.hidden {
    display: none;
    margin: 0 auto; 
}

button {
    padding: 10px 20px;
}

.button {
    text-align: center;
    margin: 20px;
}

#number-input {
    width: 40px;    
}


@media screen and (min-width:992px) {

    #body {
        display: flex;
        justify-content: row;
    }

    .map {
        width: 50%;
        height: 100vh;
    }

    #map {
        height: 100vh;
    }

}
